[defaults]
become=true
become_method=sudo
host_key_checking = False
roles_path = ./roles
collections_paths = ./collections


[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True

[inventory]
enable_plugins = yaml, netbox.netbox.nb_inventory